[user]
	signingkey = 7C1F431A60BE4FAB
	name = Davi Busanello
	email = itsme@davibusanello.net
[diff]
	tool = meld
[core]
	pager = less -F -X
	excludesfile = "~/.gitignore_global"
[cola]
	spellcheck = false
	expandtab = true
[gui]
	editor = vim
[alias]
	tree = "!git log --graph --decorate --pretty=format:'%C(yellow)%h %Cred%cr %Cblue(%an)%C(cyan)%d%Creset %s' --abbrev-commit --all"
[merge]
	tool = meld
