[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "shell/wakatime-zsh-plugin"]
	path = shell/wakatime-zsh-plugin
	url = https://github.com/sobolevn/wakatime-zsh-plugin.git
[submodule "dotbot-pip"]
	path = dotbot-pip
	url = https://github.com/sobolevn/dotbot-pip.git
[submodule "shell/zsh/powerlevel9k"]
	path = shell/zsh/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "shell/zsh-autosuggestions"]
	path = shell/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "shell/zsh-syntax-highlighting"]
	path = shell/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "shell/zsh-history-substring-search"]
	path = shell/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "shell/zsh/zsh-interactive-cd"]
	path = shell/zsh/zsh-interactive-cd
	url = https://github.com/changyuheng/zsh-interactive-cd.git
