root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.bash]
indent_size = 4

# pep-8 https://www.python.org/dev/peps/pep-0008
[*.py]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
max_line_length = 80


[*.php]
indent_size = 4

# http://www.yaml.org/spec/1.2/spec.html#Syntax
[*.{yaml,yml}]
indent_style = space
indent_size = 2

[*.{js,jsx,json,ts,tsx,jade,rb,slim}]
indent_size = 2

[*.slim]
trim_trailing_whitespace = false

# Mozilla
# https://developer.mozilla.org/en-US/docs/Mozilla/Developer_guide/Coding_Style
[*.js]
indent_style = space
indent_size =  2
trim_trailing_spaces = true
end_of_line = lf
max_line_length = 80

[*.vue]
indent_style = space
indent_size =  2
trim_trailing_spaces = true
end_of_line = lf
max_line_length = 80

[*.{md,rst,in}]
indent_style = space
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[{package.json,.travis.yml}]
indent_style = space
indent_size = 2

# https://www.gnu.org/software/make/manual/make.html
[{Makefile, *.mak}]
indent_style = tab
